/* 
 @media screen and (min-width: 576px),
  Media query for mobile devices 
  screen and (max-width: 767px) ,
 screen and (min-width: 992px),
 screen and (min-width: 1200px) { */

  
.example-spacer {
    flex: 1 1 auto;
  }
 
  .header{
    margin-left: -80px;
    text-shadow: 2px 2px 5px white;
     text-indent: 60px;
     color: yellowgreen;
     cursor: pointer;
  }
  
  .btn{
    margin-right: 30px;
margin-left: 30px;
  
  }
  h6{
    margin-left: 13px;
    font-size: larger;
    margin-bottom: 2px;
    text-decoration-line: underline;
    cursor: pointer;
    
    
  }


 /* } */