
 <!-- This link is for fontawsom icons  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

  <mat-toolbar >
   <span routerLink="/coin-list" class="header" > <i class='fas fa-landmark' style='font-size:40px;color:red'></i> </span> 
   <h6  routerLink="/coin-list"> Home </h6>
   
    <span class="example-spacer"></span>
    <button routerLink="/login"  type="submit" class="btn btn-primary btn-block  w-20" >Login</button>
    <button   routerLink="/signup" type="submit" class="btn btn-primary btn-block  w-20" >Signup</button>
    <mat-form-field appearance="outline" >
   
      <mat-select (valueChange)="sendCurrency($event)"  class="text-sm" [(ngModel)]="selectedCurrency" >
        <mat-option selected value ="USD">USD </mat-option>
        <mat-option selected value ="DK">DK </mat-option>

        <!-- Hejv2 -->
    
        
      </mat-select>
    </mat-form-field>
  </mat-toolbar>


<router-outlet></router-outlet>
