<!-- 
  This link is for fontawsom icons  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

  <mat-toolbar >
   <span routerLink="/coin-list" class="header" > <i class='fas fa-landmark' style='font-size:40px;color:red'></i> </span> 
   <h6  routerLink="/coin-list"> Home </h6>
   
    <span class="example-spacer"></span>
    <button routerLink="/login"  type="submit" class="btn btn-primary btn-block  w-20" >Login</button>
    <button   routerLink="/signup" type="submit" class="btn btn-primary btn-block  w-20" >Signup</button>
    <mat-form-field appearance="outline" >
   
      <mat-select (valueChange)="sendCurrency($event)"  class="text-sm" [(ngModel)]="selectedCurrency" >
        <mat-option selected value ="USD">USD </mat-option>
        <mat-option selected value ="DKK">DKK </mat-option>

         Hejv2 
    
        
      </mat-select>
    </mat-form-field>
  </mat-toolbar> -->
  <header>
    <nav
      class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-2 border-top mt-0 box-shadow"
    >
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/coin-list']">Treanding coins </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target=".navbar-collapse"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="isExpanded"
          (click)="toggle()"
      
       
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
          [ngClass]="{ show: isExpanded }"
        >
          <ul class="navbar-nav flex-grow">
            <li
              class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link text-dark" [routerLink]="['/coin-list']">Home</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/login']"
                >Login</a
              >
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/signup']"
                >Signup</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

<router-outlet></router-outlet>
