

/* .card {
    margin: auto;
    float: none;
  } */
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* or a fixed height if you prefer */
  }